#files
*.aux
*.dvi
#*.pdf
#*.ps
#*.eps
log.*
*.log
*.hdf
#*.stl
*.obj
*.unv
*LUFO
!system/*LUFO
*.fuse
*.tar.gz

#directories
dynamicCode/
polyMesh/
postProcessing/
processor*/
theta*/
Rmax*/
case*/
!RmaxRmin/
lnInclude/
linux*/
