#files
*.aux
*.dvi
*.pdf
*.ps
*.eps
log.*
*.log
*.hdf
*.stl
*.obj
*.unv
*LUFO
!system/*LUFO
*.fuse

#directories
dynamicCode/
polyMesh/
postProcessing/
processor*/
theta*/
Rmax*/
!RmaxRmin/
lnInclude/
linux*/

sigma*/
volumetricFlowRate*/
case*/
